# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8
indent_size = 2
end_of_line = lf

# Powershell-specific
# crlf is preferred but not required for pwsh scripts
# I use lf to get rid of stupid "^M" symbols
[*.ps{1,d,m,c}]
charset = utf-8
end_of_line = lf

[*.{[Bb][Aa][Tt],[Cc][Mm][Dd]}]
#[*.{bat,cmd,BAT,CMD}] # Not sure which is better
# DOS/Win *requires* BAT/CMD files to have CRLF newlines
end_of_line = crlf

# Markdown-specific
[*.{md,markdown,mkd}]
charset = utf-8
indent_size = 2

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2
