# Auto detect text files and perform LF normalization
#
*               text=auto
*.txt           text
*.vcproj        text eol=crlf
*.sh            text eol=lf
*.jpg           -text
*.ps?1           text eol=lf
*.json          text eol=lf
*.bat           text eol=crlf
*.cmd           text eol=crlf
.git*          text eol=lf
